.columns {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 1rem;

    img {
        width: 64px;
    }

    & > div {
        display: flex;
        flex-flow: column wrap;

        & > div {
            order: 1;
        }

        & > .columns-img-col {
            order: 0;

            img {
                display: block;
            }
        }

        @media (width >= 900px) {
            flex-direction: unset;
            gap: 32px;

            & > div {
                flex: 1;
                order: unset;
            }
        }
    }
}

.benefits {
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(2, 1fr);

    @media (width >= 900px) {
        grid-template-columns: repeat(3, 1fr);
    }
}
