.accordion details {
    display: block;
    background-color: #f8f8f8;
    color: #4a4a4a;
    padding: 0 16px;
}

.accordion details summary {
    box-sizing: content-box;
    cursor: pointer;
    list-style: none;
    padding: 16px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}

.accordion details summary :where(h2, h3, h4, h5, h6) {
    margin: 0;
    font: inherit;
    color: inherit;
    display: inline;
}

.accordion details summary::before {
    content: url('../../icons/caret-right-fill.svg');
    position: relative;
    top: 3.5px;
    left: -4.2px;
    margin-right: -2px;
}

.accordion details summary::-webkit-details-marker {
    display: none;
}

.accordion details summary::marker {
    content: none;
}

.accordion details div > div {
    color: #222;
    font-size: 16px;
    line-height: 26px;
    margin-left: 14px;
    margin-top: 14px;
}

.accordion details h1,
.accordion details h2,
.accordion details h3 {
    margin-top: 14px;
}

.accordion p {
    margin-top: 14px;
}

.accordion ul {
    margin-top: 14px;
}

.accordion ul li {
    margin-top: 0;
    margin-bottom: 14px;
    line-height: 1.5;
}

.accordion ul li:last-child {
    margin-bottom: 0;
}

.accordion ol li p {
    margin-bottom: 8px;
}

.accordion p:last-child {
    margin-bottom: 0;
}

ol .accordion summary {
    font-size: 16px;
}

ol .accordion ul {
    margin-bottom: 14px;
}

.accordion ul li ul {
    margin-bottom: 14px;
}

.accordion details .accordion {
    margin: 0;
}

.accordion details details summary {
    font-size: 16px;
    line-height: 24px;
}

.accordion details[open] {
    padding-bottom: 16px;
}

.accordion details[open] summary::before {
    content: url('../../icons/caret-down-fill.svg');
}

.accordion .code-wrapper,
.accordion .code-wrapper div,
.accordion .note-wrapper,
.accordion .note-wrapper div {
    margin-left: 0;
    margin-top: 0;
}

.accordion .code pre {
    padding: 14px;
    line-height: 21px;
}

.accordion .code code {
    font-size: 14px;
}

.shade-box .accordion-wrapper:first-child details {
    padding-top: 16px;
}
