/**
 * @package     BlueAcorn/MyHub
 * @author      Blue Acorn iCi <code@blueacorn.com>
 * @copyright   Copyright © Blue Acorn iCi. All Rights Reserved.
 */

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 auto;

    h2 {
        font-size: 2.4rem;
        font-weight: var(--c-font-weight-regular);
        line-height: 32px;
        letter-spacing: -0.02em;
    }

    p {
        font-size: 1.4rem;
        font-weight: var(--c-font-weight-regular);
        line-height: 20px;
        max-width: 80%;
    }

    button.trigger:hover,
    button.trigger:active,
    button.trigger {
        font-size: 1.4rem;
        color: var(--c-color-white);
        font-weight: var(--c-font-weight-bold);
        line-height: 20px;
        letter-spacing: 1px;
        text-align: center;
        padding: 10px 20px;
        background: var(--c-primary-color);
        text-transform: uppercase;
        text-decoration: none;
    }
}

@media only screen and (max-width: 1023px) {
    .wrapper {
        border-top: 1px solid var(--c-configurator-dark-white-3);
        padding-top: 1rem;
        margin-bottom: 4rem;
    }
}

@media only screen and (min-width: 1024px) {
    .wrapper {
        border-left: 1px solid var(--c-configurator-dark-white-3);
        padding-left: 4rem;
        max-width: 50%;

        h2 {
            font-size: 2.8rem;
            line-height: 36px;
            margin-top: 0;
        }

        p {
            font-size: 16px;
            line-height: 24px;
        }

        .modalContainer {
            > div {
                > div {
                    border-radius: 0;
                }
            }
        }
    }
}
