/**
 * @package     BlueAcorn/Configurator
 * @author      Blue Acorn iCi <code@blueacorn.com>
 * @copyright   Copyright © Blue Acorn iCi. All Rights Reserved.
 */

.titleWrapper {
    text-align: center;
    padding: 2rem 6rem 0;

    h3 {
        font-size: 2rem;
        font-weight: var(--c-font-weight-regular);
        letter-spacing: normal;
        word-break: break-word;
        margin-top: 0;
        margin-bottom: 1rem;
        line-height: 1.2;
    }

    > div {
        font-style: normal;
        font-weight: var(--c-font-weight-light);
        font-size: 1.6rem;
        line-height: 24px;
        text-align: center;
        color: var(--text-color);
        margin-bottom: 2.5rem;
    }
}

.option {
    background: var(--light-color);
    box-shadow: 0 0 4px 0 var(--c-color-grey-10);
}

.optionQuantity {
    display: flex;
    height: 30px;

    button {
        border: 2px solid var(--link-color);
        padding: 2px 8px;
        box-shadow: unset;
        opacity: 1;
        background: 0 0;
        color: var(--text-color);
    }

    input[name='setOptionQty'] {
        font-size: 1.4rem;
        border: 2px solid var(--link-color);
        background: var(--link-color);
        color: var(--c-color-white);
        text-align: center;
        font-style: normal;
        font-weight: var(--c-font-weight-semibold);
        line-height: 19px;
        display: flex;
        align-items: center;
        letter-spacing: -0.25px;
        width: 30px;
        border-radius: 0;
        margin: 0;
        appearance: none;
    }
}

.image {
    width: 100%;
    max-height: 210px;

    img {
        max-height: 210px !important;
        object-fit: contain;
    }

    button {
        svg {
            transform: translateY(-1.5rem);
        }

        &[data-action='prev'] {
            + div {
                bottom: 2.8rem !important;

                button {
                    width: 6px !important;
                    height: 6px !important;
                }
            }
        }
    }
}

.content {
    margin: 2.2rem;
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    border-bottom: 1px solid var(--c-configurator-dark-white-3);
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.title {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: var(--c-font-weight-semibold);
    line-height: 24px;
    color: var(--text-color);
}

.decrease {
    margin: 0 -2px 0 0;
    border-right-color: transparent;
}

.increase {
    border-left-color: transparent;
    margin: 0 0 0 -2px;
}

.description {
    font-size: 1.4rem;
    margin: 2.2rem 2.2rem 0;
    padding-bottom: 1.3rem;
    font-style: normal;
    font-weight: var(--c-font-weight-light);
    line-height: 20px;
    color: var(--text-color);
}

.details {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: var(--c-font-weight-light);
    line-height: 20px;
    display: flex;
    align-items: center;
    color: var(--c-color-blue-green-2);
    padding: 0 13px 13px;
    cursor: pointer;
}

.detailsLink {
    background: 0 0;
    border: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    font-size: 1.4rem;
    font-weight: var(--c-font-weight-light);
    line-height: 20px;
    display: flex;
    align-items: center;

    &::before {
        content: url('../../icons/info-icon.svg');
        height: 18px;
        width: 24px;
        vertical-align: middle;
        margin-right: 0.3rem;
    }
}

.price {
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: var(--text-color);
}

.prices {
    display: flex;
    flex-direction: column;
}

.oldPrice {
    font-size: 1.2rem;
    color: var(--c-color-grey-6);

    > span {
        font-size: 1.2rem;
        color: var(--c-color-grey-6);
    }
}

.normalPrice {
    font-size: 1.6rem;
}

@media only screen and (width < 768px) {
    .option {
        margin: 0 2.2rem 2.2rem;
    }
}

@media only screen and (width > 768px) {
    .option {
        margin: 0 5rem 2.2rem;
    }
}
