/**
 * @package     BlueAcorn/MiniSwatchesModal
 * @author      Blue Acorn iCi <code@blueacorn.com>
 * @copyright   Copyright © Blue Acorn iCi. All Rights Reserved.
 */

.miniSwatchesProductName {
    font-family: var(--c-title-font);
    font-size: 2.8rem;
    font-weight: var(--c-font-weight-regular);
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-bottom: 2rem;
    margin-top: 0;
}

.miniSwatchesContentWrapper {
    display: flex;
    justify-content: space-between;
}

.miniSwatchesImageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.miniSwatchesTextTitle {
    font-size: 1.6rem;
    font-weight: var(--c-font-weight-regular);
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    display: block;
    margin-bottom: 1rem;
}

.miniSwatchesFeatures {
    margin-bottom: 2rem;
}

.miniSwatchesLists {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.miniSwatchesList {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 50%;
}

.miniSwatchesList {
    span {
        width: 100%;
        text-align: left;
        font-weight: var(--c-font-weight-light);
    }
}

.miniSwatchesTextWrapper {
    width: 100%;
    max-width: 565px;
}

.miniSwatchesFabricInformation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.miniSwatchesFabricDescription {
    p {
        font-size: 1.4rem;
        font-weight: var(--c-font-weight-light);
        line-height: 24px;
        letter-spacing: 0;
        text-align: left;
    }
}

.miniSwatchesInfoTitle {
    font-size: 1.6rem;
    font-weight: var(--c-font-weight-regular);
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    display: block;
}

.miniSwatchesFabricInformationItem {
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.miniSwatchesFabricInformationItem {
    span:last-child {
        font-size: 16px;
        font-weight: var(--c-font-weight-light);
        line-height: 24px;
        letter-spacing: 0;
        text-align: left;
    }
}

c-mini-swatch-modal {
    > a {
        display: none;
    }
}

.atcButton:hover,
.atcButton {
    margin-top: 2rem;
    color: var(--c-color-white);
    padding: 14px 0;
    font-size: 1.4rem;
    font-weight: var(--c-font-weight-bold);
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    background: var(--c-primary-color);
    text-transform: uppercase;
    width: 100%;
    min-width: 270px;

    &.removeButton {
        border: 1px solid var(--color-error-2);
        background: var(--c-color-white);
        color: var(--color-error-2);
    }
}

@media only screen and (max-width: 1023px) {
    .miniSwatchesContentWrapper {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 2rem 2rem 2rem;
    }

    .miniSwatchesProductName {
        max-width: 80%;
        word-break: break-word;
        padding: 2rem 2rem 0 2rem;
    }

    .desktopOnly {
        display: none;
    }

    .miniSwatchesImageWrapper {
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 2rem;
    }

    .miniSwatchesImageWrapper {
        img {
            max-width: 166px;
        }
    }

    .miniSwatchesFabricInformation {
        flex-direction: column;
        margin-bottom: 0;
        flex: 1 0 auto;
        margin-left: 2rem;
    }

    .miniSwatchesInfoTitle {
        font-size: 1.4rem;
        white-space: nowrap;
    }

    .miniSwatchesFabricInformationItem {
        span:last-child {
            font-size: 1.4rem;
            white-space: normal;
            min-width: 100px;
        }
    }

    .miniSwatchesFabricInformationItem {
        margin-bottom: 1rem;
    }

    .miniSwatchesList {
        justify-content: flex-start;

        img {
            max-width: 50px;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .miniSwatchesLists {
        column-gap: 12%;
    }

    .miniSwatchesList {
        flex: 0 0 calc(50% - 6%);
        column-gap: 2rem;
    }

    .miniSwatchesFabricInformation {
        column-gap: 12%;
    }

    .miniSwatchesFabricInformationItem {
        flex: 0 0 calc(50% - 6%);
    }

    .miniSwatchesProductName {
        font-size: 36px;
        line-height: 44px;
        margin-top: 2rem;
    }

    .miniSwatchesTextWrapper {
        margin-left: 8rem;
    }

    .mobileOnly {
        display: none;
    }

    .miniSwatchesFabricDescription {
        p {
            font-size: 1.6rem;
        }
    }
}
