/**
 * @package     BlueAcorn/AddToCart
 * @author      Blue Acorn iCi <code@blueacorn.com>
 * @copyright   Copyright © Blue Acorn iCi. All Rights Reserved.
 */

.atcButton:hover,
.atcButton {
    margin-top: 2rem;
    color: var(--c-color-white);
    padding: 14px 0;
    font-size: 1.4rem;
    font-weight: var(--c-font-weight-bold);
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    background: var(--c-primary-color);
    text-transform: uppercase;
    width: 100%;
    min-width: 270px;
}

@media only screen and (max-width: 1023px) {
}
@media only screen and (min-width: 1024px) {
    .atcButton {
        max-width: 270px;
    }
}
